[submodule "[REPO]/pygpt-gencore"]
	path = [REPO]/pygpt-gencore
	url = https://github.com/DLRP1995/pygpt-gencore.git
[submodule "[REPO]/shell-gpt-gencore"]
	path = [REPO]/shell-gpt-gencore
	url = https://github.com/DLRP1995/shell-gpt-gencore.git
[submodule "pygpt"]
	path = pygpt
	url = https://github.com/DylanPollock/pygpt.git
[submodule "pypdf"]
	path = pypdf
	url = https://github.com/DylanPollock/pypdf.git
[submodule "terminal"]
	path = terminal
	url = https://github.com/microsoft/terminal.git
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/PowerShell/PowerShell.git
[submodule "vscode"]
	path = vscode
	url = https://github.com/microsoft/vscode.git
